
.index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: auto;
    width:auto;
    justify-content: space-evenly;
}

.apresentacaoIndex{
    max-width:600px;
    margin:50px;
    grid-column: 1 /2;
    grid-row: 1 / 1;
    
}

.apresentacaoIndex h1{
    font-size:60px;
    font-family: sans-serif;
    font-weight: 600;
    padding:6px;
    text-align: left;
    line-height: 1.15;
    margin-left:20%;
    color: #2ba9fc;
}

.apresentacaoIndex p{
    font-size:19px;
    text-align:justify;
    margin-top:18px;
    text-decoration:none;
    line-height: 2;
    margin-left:20%;
}

a{
    margin-left:20%;
   font-size:19px;
    text-align:justify;
    margin-top:18px;
    text-decoration:none;
    line-height: 2;
}

img1-index{
   
    height: auto;
    width: auto;
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    
}

.img1-index img{
    display: block;
    width: 650px;
    padding: 2px;
    margin-left: 5%;
}

.secao-listagem-index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: auto;
    width: auto;
    margin-bottom:5%;
}

.img2-index{
      grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.img2-index img{
     display: block;
    width: 105%;
    height: 105%;
    margin-left:0%;
 
   
}

.apresentacao-index-4{
     max-width: 100%;
    margin-top: 80px;
    grid-column: 2/3;
    grid-row: 1 / 1;
    margin-left: 10%;
}

.apresentacao-index-4 h1{
    font-size:60px;
    font-family: sans-serif;
    font-weight: 600;
    padding:6px;
    text-align: left;
    line-height: 1.15;
    margin-top: 5%;
    margin-left:5%;
    color: #e72805;

}

.apresentacao-index-4 p{
    font-size:19px;
    text-align:justify;
    margin-top:18px;
    text-decoration:none;
    line-height: 2;
    margin-left:5%;
    margin-right:25%;
}

.apresentacao-index-4 a{
    margin-left:5%;
    margin-right:10%;
   font-size:20px;
    text-align:justify;
    margin-top:18px;
    text-decoration:none;
    line-height: 2;
}