<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CorpoCelesteSrv</servlet-name>
        <servlet-class>controller.CorpoCelesteSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisciplinaSrv</servlet-name>
        <servlet-class>controller.DisciplinaSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorSrv</servlet-name>
        <servlet-class>controller.ProfessorSrv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CorpoCelesteSrv</servlet-name>
        <url-pattern>/CorpoCelesteSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisciplinaSrv</servlet-name>
        <url-pattern>/DisciplinaSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorSrv</servlet-name>
        <url-pattern>/ProfessorSrv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
